
<div class="row filter-pdf">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cls_detail cls_block container-fluid" >   
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cls_block" id="w02_left_info" style="min-height:210px;">
    <div class="container-fluid" style="margin-bottom:5px">
    <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" align="left" style="padding-left:0px" id="w02_select_bond">Chọn Tên Ao:  
    </div>
    <div class="col-xs-12 col-sm-4 col-md-9 col-lg-9" id="w02_dt_wm" style="padding-left:2px;padding-right:2px">  
    </div>
    </div>
    
    </div>
    <div class="container-fluid table-reponsive">
    <table  id="w02_dt_tbl" class="table tbl-info">
    <thead><tr><th id="w02_sensor_name">TÊN CHỈ SỐ</th><th id="w02_sensor_value">GIÁ TRỊ</th><th id="w02_sensor_unit">ĐƠN VỊ</th>
    </thead>
    <tbody id="w02_body_info">
    </tbody>
    </table>
    </div> 
    
          
     </div>
     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cls_block" id="w02_right_info" style="display:flex">
              
     <div class="container-fluid" style="margin:0px auto 0px auto">
     
     <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="left" style="font-size:16px;padding-left:-10px" id="w02_title_sensorIndex"> Thông Số Waspmote Plug &amp; Sense Smart Water
    </div>
   
    </div>  
    
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 title-info"><img style="float:center" class="img-thumbnail w100" height="95%"  src="iot.vn/images/model_water.jpg"/>  
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 dv_info" style="padding-left:0px"><span id="w02_dt_sn"></span>
    
    <br><span id="w02_title_lastdate">Ngày Tín Hiệu Cuối:</span><span class="content-info" id="w02_dt_date"></span>
    <br><span id="w02_title_lasttime">Giờ Tín Hiệu Cuối:</span><span class="content-info" id="w02_dt_time"></span>
    <br><span id="w02_title_statusActive">Trạng Thái Làm Việc:</span>&nbsp;<span class="content-info" id="w02_dt_status">Hoạt động</span>
    <br><span id="w02_title_statusBat">Tình Trạng Nguồn Nuôi:</span><span class="content-info" id="w02_dt_BAT"></span>
    <span id="w02_title_inTemp" style="display:none">Nhiệt Độ Vận Hành:</span><span class="content-info" style="display:none" id="w02_dt_INTEMP"></span>
    <br>Model:<span class="content-info" id="w02_dt_model">&nbsp;Smart water</span> 
    <br><br><button class="btn btn-sm btn-danger" id="w02_dt_btn_control">Kích Hoạt Điều Khiển</button> 
    </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-xs-12 title-info"><span>Trạng thái hiện tại:</span> <span id="w02_user_dieukhien"></span>
            <p class="title-info"><span id="w02_trangthai_dieukhien"></span></p>
        </div>
    </div>    
    </div>    
    </div>
    
</div>
 </div>
 </div>
<div class="row" style="padding:0px 0px 0px 0px">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 for-pdf chart-pdf" id="w02_chart_dt_current" style="padding:3px" >   

</div> 
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 for-pdf chart-pdf" id="w02_chart_dt_history" style="padding:3px">   
   
</div> 
</div> 
<div class="row" style="padding:1px">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cls_block" style="font-size:20px;padding-top:10px;padding-bottom:1px;" id="w02_implement_img" >Hình Triển Khai Thực Tế:</div>
</div>
<div class="row" style="padding:1px">   
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " id="w02_list_image" style="padding:0px">
</div>
</div>
<script>
loadlocation();
w02_detail(current_wm);

function w02_CreateImage(id_wasp){
    
   length = fm_info.list_image[id_wasp].length  ;
   if(length==0){
      //$('#w02_list_image').html('') ;
       return ;
   }
    str_li = ''; 
    str_image ='';
    index = 0; 
   for(var i in fm_info.list_image[id_wasp]){
       if(i!='in_array'&&i!='containsValue'){ 
       cls='';
       if(index==0){
        cls= 'active' ;   
       }
         str_li+= '<li data-target="#myCarousel" data-slide-to="'+index+'" class="' +cls+'"></li>';
         str_image+= '<div class="item '+cls+'"><img src="iot.vn/images/image_location/'+fm_info.list_image[id_wasp][i]+'" class="img-thumbnail img-reponsive for-pdf image-pdf"  width="460" height="345"></div>  '
       index++;
       }
   }
     
   str_result = '';
   str_result+='<div class="container-fluid" style="padding:0px"> <div id="myCarousel" class="carousel slide w100" data-ride="carousel"> <ol class="carousel-indicators">'+str_li+ '</ol>';
   str_result+='<div class="carousel-inner" role="listbox">' +str_image+  '</div>' ;
   str_result+='<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>';
   str_result+='<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a></div> </div>';
   $('#w02_list_image').html(str_result) ;
   //return str_result;
}

$(function(){
    changeLanguage(lang_iot); 
});    

//$('#w02_right_info').height($('#w02_left_info').height())  ; 
</script>
 
