 <div class="row">  
<div id="w03_info" class="container-fluid col-xs-12 col-sm-12 col-md-3 col-lg-3 cls_block">

<div class="row" id="w03_row_wt">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> Thiết Bị:   
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="w03_wasp_type">

</div>
</div>
<div class="row"> 
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> Tên Ao:   
</div>
</div>
<div class="row"> 
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="w03_place">
 
</div>
</div>

<div class="row w98"> 
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> Tên cảm biến:   
</div>
</div>
<div class="row w98">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="w03_sensor_type"> 

</div>
</div>

<div class="row w98"> 
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> Loại báo cáo:   
</div>
</div>

<div class="row w98">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="w03_report_type"> 
      <select id="w03_cbb_report_type" style="width:150px">
      <option value="1">Tiêu chuẩn</option>
      <option value="2">Thời điểm đo</option>
      </select>
</div>
</div>
<div class="row w98" id="w03_div_label_mocdo" style="display:none"> 
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> Mốc đo:   
</div>
</div>
<div class="row w98" id="w03_div_mocdo" style="display:none">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" > 
      <select id="w03_cbb_mocdo" style="width:150px" multiple="multiple">      
      </select>
</div>
</div>
        

<div class="row w98">
<div class="col-xs-12 col-sm- col-md-12 col-lg-12"> Từ:   
</div>
</div>
<div class="row w98"> 
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="w03_from">
<input type='text' class="datepk" style="width:150px" id="w03_txt_from"/> 
<input type='text' class="datepk_2" style="width:150px;display:none" id="w03_txt_from2"/> 
</div>
</div>
<div class="row w98"> 
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> Đến:   
</div>
</div>
<div class="row w98">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="w03_to"> 
<input type='text' class="datepk" style="width:150px" id="w03_txt_to"/> 
<input type='text' class="datepk_2" style="width:150px;display:none" id="w03_txt_to2"/> 
</div>
</div>  

<div class="row w98">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <button id="w03_btnview" class="btn btn-primary"> Xem</button>  
</div>
</div>  
</div>

 <div class="container-fluid col-xs-12 col-sm-12 col-md-9 col-lg-9" id="w03_report_total">  
 
 <!--<div id="w03_report_total"></div> -->
 </div> 
</div>

   <div class="row">          
  <div id="w03_report_chart" class="container-fluid" class="container-fluid col-xs-12 col-sm-12 col-md-12 col-lg-12">
 </div>
 <div>
               
 <script>
var arrMocdo = new Array(); 
 $(function() {
     arrMocdo = [];
      $('.datepk').datetimepicker();    
      $('.datepk_2').datepicker();
      $('.datepk_2').datepicker("option", "dateFormat", 'dd/mm/yy');
      $('#w03_txt_from').val(GetToday(0,1));
      $('#w03_txt_from2').val(GetStartDay(0,0));
     
      
       $('#w03_txt_to').val(GetToday(0,2));
      $('#w03_txt_to2').val(GetToday(0,0));
      
      $('#tc01_cbb2').change(function() {
            console.log($(this).val());
        }).multipleSelect({
            width: '100%',
            animate:'fade',
            minimumCountSelected: 5

        });
        
       $('#w03_cbb_mocdo').change(function() {
            console.log($(this).val());
        }).multipleSelect({
            width: '100%',
            animate:'fade',
            minimumCountSelected: 5

        });     
      //$('.datepk_2').datepicker({'option','Format','dd/mm/YYYY'});    
 
    $('#w03_btnview').click(function(){
         w03_createReport();
    });
    
    cbb_waspmote_type=create_waspmote_type('w03_cbb_wasp_type',false);
    $('#w03_wasp_type').html(cbb_waspmote_type);
    wt_val= $('#w03_cbb_wasp_type').val();
    cbb_waspmote = create_waspmote(wt_val,'w03_cbb_place',false);
    $('#w03_place').html(cbb_waspmote);
    cbb_sensor = create_sensor(wt_val,'w03_cbb_sensor_type',true);
    $('#w03_sensor_type').html(cbb_sensor);
    $('#w03_cbb_sensor_type').change(function() {
        console.log($(this).val());
        }).multipleSelect({
        animate:'fade',
        minimumCountSelected: 5

    }); 
        
    if(countObject(fm_info.wasptype)>1){
       $('#w03_row_wt').show();
    }
    $('#w03_cbb_report_type').change(function(){
        val = $(this).val();
        if(val==1){
           $('.datepk_2').hide(); 
           $('.datepk').show(); 
           $('#w03_div_mocdo').hide(); 
           $('#w03_div_label_mocdo').hide(); 
        }else{
           $('.datepk').hide(); 
           $('.datepk_2').show();
           $('#w03_div_mocdo').show();   
           $('#w03_div_label_mocdo').show();   
        }
        
    });
    
    $('#w03_cbb_wasp_type').change(function(){
        wt_val = $(this).val();
        cbb_waspmote = create_waspmote(wt_val,'w03_cbb_place',false);
        $('#w03_place').html(cbb_waspmote);
        cbb_sensor = create_sensor(wt_val,'w03_cbb_sensor_type',false);
        $('#w03_sensor_type').html(cbb_sensor);
                
    });
     if(current_wm!=''){
          $('#w03_cbb_place').val(current_wm);
      }
    w03_createReport();  
      
       $.ajax({
              url: 'xml/mocdo.xml',
                  type: 'get',   
                  cache:true,   
                  timeout: 10000,        // sets timeout for the request (10 seconds)
                  error: function(xhr, status, error) { alert('Error: '+ xhr.status+ ' - '+ error); },     // alert a message in case of error
                  dataType: 'xml',
                  success: function(response) {
                    strOption=''; 
                    $(response).find('mocdo').find('md').each(function() {
                          var elm = $(this);
                          var id  = elm.attr('id');
                          var name = elm.find('name').text();
                          selected=''; 
                          if(fm_info.mocdo.indexOf(id)>=0){
                             selected=' selected="selected" ' ;
                          }
                          arrMocdo[id]= name  ;
                          strOption+='<option value="'+id+'" '+selected+'>'+name+'</option>'; 
                    });
                      $('#w03_cbb_mocdo').html(strOption);  
                      $('#w03_cbb_mocdo').change(function() {
                            console.log($(this).val());
                            }).multipleSelect({
                                width: '100%',
                                animate:'fade',
                                minimumCountSelected: 5

                      });                    
                    
                  }
                    
                });
   
  });
  
 /* function  parseMocdo(ducument){ 
   strOption='';      
      $(document).find("md").each(function(){
          val = $(this).attr('id');
          name = $(this).find('text').text();
          alert(name);
          selected='';
          if(fm_info.mocdo.indexOf(val)>=0){
             selected=' selected="selected" ' ;
          }
          arrMocdo[val]= name  ;
          strOption+='<option value="'+val+'" '+selected+'>'+name+'</option>';            
      });
     $('#w03_cbb_mocdo').html(strOption);  
      $('#w03_cbb_mocdo').change(function() {
            console.log($(this).val());
            }).multipleSelect({
                width: '100%',
                animate:'fade',
                minimumCountSelected: 5

      }); */             
  
  // sai trả về true; đúng trả về false
  function check_validate(wasp_type,sensor_type,place,date_from,date_to){      

        $('.w03_info').find('input[type=text]').removeClass('cls_alert');
        //alert('wasp_type:'+wasp_type+';sensor_type:'+sensor_type+';place:'+place+';date_from:'+date_from+';date_to:'+date_to)
       flg_alert= false;
        if(wasp_type==''||wasp_type==null){
            $('#w03_cbb_wasp_type').addClass('cls_alert');
            flg_alert=true;
        }if(sensor_type==''||sensor_type==null){ 
            $('#w03_sensor_type').find('.ms-parent').addClass('cls_alert');
            flg_alert=true;
        }if(place==''||place==null){
            $('#w03_cbb_place').addClass('cls_alert');
            flg_alert=true;
        }if(date_from==''){
            $('#w03_txt_from').addClass('cls_alert');
            flg_alert=true;
        }if(date_to==''){
            $('#w03_txt_to').addClass('cls_alert');
            flg_alert=true;
        }
        if(flg_alert){
            alert('Vui lòng nhập đầy đủ thông tin');
                        
        }
        return flg_alert;
      
  }
  
  function w03_createReport(){
      
        var wasp_type=$('#w03_cbb_wasp_type').val(); 
        var sensor_type=$('#w03_cbb_sensor_type').val(); 
        var report_type=$('#w03_cbb_report_type').val(); 
        var place=$('#w03_cbb_place').val()==null?'': $('#w03_cbb_place').val();
        var date_from=report_type==1?ConvertDateTime($('#w03_txt_from').val()): ConvertDateTime($('#w03_txt_from2').val());
        var date_to=report_type==1?ConvertDateTime($('#w03_txt_to').val()): ConvertDateTime($('#w03_txt_to2').val());
        var arrmocdo=report_type==1?'': $('#w03_cbb_mocdo').val();
        flg = check_validate(wasp_type,sensor_type,place,date_from,date_to,report_type,arrmocdo);
        if(flg){
           return false; 
        } 

        $.ajax({
            url: 'create_chart.php',
            type: 'POST',
            data:{
                wt:wasp_type,                 
                st:sensor_type,                 
                rt:report_type,                 
                mocdo:arrmocdo,                 
                pl:place,                 
                df:date_from,                 
                dt:date_to                 
            } ,
            cache: false,
            
            success: function(string){
                var getData = jQuery.parseJSON(string);
                flg_duyet=false;
                id_wasp_pre='';
                str_info =''; 
                strbody='' ;
                var strName=''; 
                var arrChart = new Array();
                var arrX = new Array();
                var cntChart = new Array();
                $('#w03_report_chart').html('');
                switch(report_type){
                    case '1':     // trường hợp báo cáo tiêu chuẩn
                    for(var i in getData){
                  if(i!='in_array'&&i!='containsValue'){
                      sensor = getData[i].sensor;                      
                      val =changeDO(parseFloat(getData[i].value),sensor);
                      time_stamp = getData[i].timestamp;
                      if(strName!=sensor){
                        cntChart.push(sensor);
                        arrChart[sensor]=new Array();                            
                        arrX[sensor]=new Array();                            
                      }
                      arrChart[sensor].push(val);
                      arrX[sensor].push(time_stamp);
                      strName= sensor;
                      flg_duyet = true;      
                  }  
               }
               //if(cntChart.length>1){
                  strchart =  createDivChart('w03',cntChart) ; 
                  $('#w03_report_chart').html(strchart);
                
                    for(var i in cntChart){
                        if(i!='in_array'&&i!='containsValue'){
                            createLineChart('w03',cntChart[i],arrX,arrChart,place);
                        } 
                    }
                    createChartTotal('w03_report_total',cntChart[0],arrX,arrChart,'Các chỉ số đo theo thời gian'); 
                    break;
                    case '2':// trườn hợp báo cao theo mốc đo
                    
                    header =  Create_headTableReport(date_from,date_to);   // header tao 
                    body = create_bodyTableReport(place,arrmocdo,sensor_type,date_from,date_to);// tao body
                    tbl='<div class="inner"><table id="w03_tbl_mocdo"><thead>'+header+'</thead><tbody>'+body+'</tbody></table></div>';
                    $('#w03_report_total').html(tbl);
                    
                    for(var i in getData){
                      if(i!='in_array'&&i!='containsValue'){
                          sensor = getData[i].sensor;                      
                          id_wasp = getData[i].id_wasp;                      
                          val =changeDO(parseFloat(getData[i].val),sensor);
                          ymd = getData[i].ymd;
                          time_h =parseInt(getData[i].time_h); 
                                                   
                           limit = checkLimit(id_wasp,sensor,val) ; 
                          $('#w03_'+ymd+'-'+sensor+'-'+time_h).addClass(limit);                          
                          $('#w03_'+ymd+'-'+sensor+'-'+time_h).html(val);                          
                         
                          
                      }  
                   }
                   

               
                    break;
                }
                
                   
              // }
            
                                       
            },

            error: function (){
                alert('có lỗi xảy ra'); 
            }

        });
  }
  
  // tạo  bảng header cho bang
 function Create_headTableReport(df,dt){
     str="<tr><th rowspan='2' style='min-width:150px;' class='headcol'>Chỉ số</th><th class='headcol1' rowspan='2' style='min-width:80px;'>Mốc đo</th>";
       i=0;
       str_year='';
       str_date='<tr>';
       yy_pre = df.substr(0,4);
       mm_pre =  df.substr(5,2);
       
       while(df<=dt){ 
       yy_cur = df.substr(0,4);       
            mm_cur = df.substr(5,2); 
            if(mm_cur!=mm_pre){
              str_year+="<th colspan='"+i+"' align='center' style='min-width:200px'>Tháng " + mm_pre +" năm "+yy_pre +'</th>';
              i=0;
           }
           i++;
           str_date+='<th style="min-width:40px">'+parseInt(df.substr(-2))+'</th>';
           df = addDate(df,1); 

           yy_pre= yy_cur;            
           mm_pre= mm_cur;            
       }
       //str_year+="<th colspan='"+i+"' align='center'>Năm "+yy_pre +'</th></tr>';
       str_year+="<th colspan='"+i+"' align='center'>Tháng " + mm_pre +" năm "+yy_pre +'</th>';   
       str+= str_year+str_date+'</tr>';
       return str;
       
 }
 
 function create_bodyTableReport(wm,arrMocdo,arrSensor,df,dt){
     str_body='';
     index=0;
     for(i in arrSensor){
            //if(fm_info.wt_sensor[wm].indexOf(arrSensor[i])>=0){
            if(i!='in_array'&&i!='containsValue'){ 
               index++;
               str_body +=createRowBySensor(index,arrMocdo,arrSensor[i],df,dt);
            }
            //}
       } 
       return   str_body;           
 }
 function  createRowBySensor(index,arrMocdo,sensor,df,dt){
       str='';
       lengMocdo = arrMocdo.length;
       for(i=0;i<lengMocdo;i++){
          str +=createRowByMocdo(index,i,lengMocdo,arrMocdo[i],sensor,df,dt);
       }
       return str ;
 }
 
 function createRowByMocdo(index,i,lengMocdo,mocdo,sensor,df,dt){
     cls_odd = '';
     if(index%2==0){
        cls_odd='class="cls_odd"'; 
     }
     result = '<tr '+cls_odd+' ><td >'+arrMocdo[mocdo]+'</td>';
     
     if(i==0){
      result = '<tr '+cls_odd+' ><td rowspan="'+lengMocdo+'" >'+fm_info.sensor[sensor].name+'('+sensor+':'+fm_info.sensor[sensor].unit+')</td><td >'+arrMocdo[mocdo]+'</td>';   
     }
     while(df<=dt){ 
         result+="<td id='w03_"+df+'-'+sensor+'-'+mocdo+"' class='cls_num' ></td>" ; 
         df = addDate(df,1); 
     }
     result+='</tr>' ;
     return result;
 }
 
  
  
  
 </script>
