<div class="w3-row cls_block" style="display:flex">  
<div id="w03ct_info" style="magin:auto" class="w3-container w3-col s12 m12 l12 filter-pdf">

<div class="w3-row" id="w03ct_row_wt" style="display:none">
<div class="w3-col s12 m12 l12 alignleft" id="w03ct_equipment"> Thiết Bị  
</div>
<div class="w3-col s12 m12 l12 alignleft" id="w03ct_wasp_type">

</div>
</div>

<div class="w3-row"> 

<div class="w3-col s4 m1 l1 alignright"  id="w03ct_bond_name"> Tên Ao:  
</div>
<div class="w3-col s8 m2 l2 alignleft" id="w03ct_place" >
 
</div>

<div class="w3-col s4 m1 l1 alignright" id="w03ct_sensor_name"> Chỉ Số:    
</div>
<div class="w3-col s8 m3 l3 alignleft" id="w03ct_sensor_type" style="padding-right: 20px;"> 

</div>

 <div class="w3-col s12 m4 l4">
 <div class="w3-row">
<div class="w3-col s4 m2 l2 alignright"  id="w03ct_title_from"> Từ:   
</div>
<div class="w3-col s8 m4 l4 alignleft" id="w03ct_from">
<input type='text' class="datepkct w100" id="w03ct_txt_from"/> 
</div>
<div class="w3-col s4 m1 l1 alignright" id="w03ct_title_to"> Đến:   
</div>
<div class="w3-col s8 m5 l5 alignleft" id="w03ct_to"> 
<input type='text' class="datepkct w98" id="w03ct_txt_to"/> 
</div>

</div>
</div>


<div class="w3-col s8 m1 l1" align="left" style="display: flex;">
   <button id="w03ct_btnview" class="btn btn-primary w100" style="margin-top:0px;margin-bottom:0px;margin-left:auto;margin-right:auto;height:22px;padding-top:0px"> Xem</button>
</div>
</div> 
 

</div>
</div> 
<div class="w3-row cls_block">      

 <div class="w3-container w3-col s12 m12 l12 for-pdf chart-pdf full-page-pdf" id="w03ct_report_total" style="padding:10px 0px 10px 0px;display:flex">  
 </div> 
</div>
<div class="w3-row cls_block" id="w03ct_div_chart">          
  <div id="w03ct_report_chart"  class="w3-container w3-col s12 m12 l12" style="padding:0px">
 </div>
 </div>
               
 <script>
var arrMocdo = new Array(); 
 $(function() {
     arrMocdo = [];
      $('.datepkct').datetimepicker(); 
      $('.xdsoft_timepicker').show();   
      $('#w03ct_txt_from').val(GetToday(0,1,0));
      $('#w03ct_txt_to').val(GetToday(0,2,0));
 
    $('#w03ct_btnview').click(function(){
         w03ct_createReport();
    });
    
    cbb_waspmote_type=create_waspmote_type('w03ct_cbb_wasp_type',false);
    $('#w03ct_wasp_type').html(cbb_waspmote_type);
    wt_val= $('#w03ct_cbb_wasp_type').val();
    cbb_waspmote = create_waspmote(wt_val,'w03ct_cbb_place',false);
    $('#w03ct_place').html(cbb_waspmote);
    cbb_sensor = create_sensor(wt_val,'w03ct_cbb_sensor_type',true,20);
    $('#w03ct_sensor_type').html(cbb_sensor);
    $('#w03ct_cbb_sensor_type').change(function() {
        console.log($(this).val());
        }).multipleSelect({
        animate:'fade',
        minimumCountSelected: 6

    }); 
        
    if(countObject(fm_info.wasptype)>1){
       $('#w03ct_row_wt').show();
    }      
    $('#w03ct_cbb_wasp_type').change(function(){
        wt_val = $(this).val();
        cbb_waspmote = create_waspmote(wt_val,'w03ct_cbb_place',false);
        $('#w03ct_place').html(cbb_waspmote);
        cbb_sensor = create_sensor(wt_val,'w03ct_cbb_sensor_type',false);
        $('#w03ct_sensor_type').html(cbb_sensor);
                
    });
     if(current_wm!=''){
          $('#w03ct_cbb_place').val(current_wm);
      }    
    changeLanguage(lang_iot);  
    setTimeout(w03ct_createReport,1000); 
  });      
  
  // sai tr? v? true; ðúng tr? v? false
  function check_validate(wasp_type,sensor_type,place,date_from,date_to){      

        $('.w03ct_info').find('input[type=text]').removeClass('cls_alert');
        //alert('wasp_type:'+wasp_type+';sensor_type:'+sensor_type+';place:'+place+';date_from:'+date_from+';date_to:'+date_to)
       flg_alert= false;
        if(wasp_type==''||wasp_type==null){
            $('#w03ct_cbb_wasp_type').addClass('cls_alert');
            flg_alert=true;
        }if(sensor_type==''||sensor_type==null){ 
            $('#w03ct_sensor_type').find('.ms-parent').addClass('cls_alert');
            flg_alert=true;
        }if(place==''||place==null){
            $('#w03ct_cbb_place').addClass('cls_alert');
            flg_alert=true;
        }if(date_from==''){
            $('#w03ct_txt_from').addClass('cls_alert');
            flg_alert=true;
        }if(date_to==''){
            $('#w03ct_txt_to').addClass('cls_alert');
            flg_alert=true;
        }
        if(flg_alert){
            sms = (lang_iot=='vi')?'Vui lòng nhập đầy đủ thông tin':'Please input all infomations for report';
            alert(sms);
                        
        }
        return flg_alert;
      
  }
  
  function w03ct_createReport(){
      changeWaiting(0); 
      
        var wasp_type=$('#w03ct_cbb_wasp_type').val(); 
        var sensor_type=$('#w03ct_cbb_sensor_type').val(); 
        var  report_type  =1;
        var place=$('#w03ct_cbb_place').val()==null?'': $('#w03ct_cbb_place').val();
        var arrmocdo='';
        var date_from=ConvertDateTime($('#w03ct_txt_from').val());
        var date_to=ConvertDateTime($('#w03ct_txt_to').val());
        flg = check_validate(wasp_type,sensor_type,place,date_from,date_to,report_type,arrmocdo);
        if(flg){
           return false; 
        } 

        $.ajax({
            url: 'create_chart.php',
            type: 'POST',
            data:{
                wt:wasp_type,                 
                st:sensor_type,                 
                rt:report_type,                 
                mocdo:arrmocdo,                 
                pl:place,                 
                df:date_from,                 
                dt:date_to                 
            } ,
            cache: false,
            
            success: function(string){
				
                index_str = string.indexOf('[');
           str_final = string.substring(index_str);
           var getData = JSON.parse(str_final);

                flg_duyet=false;
                id_wasp_pre='';
                str_info =''; 
                strbody='' ;
                var strName=''; 
                var arrChart = new Array();
                var arrX = new Array();
                var cntChart = new Array();
                $('#w03ct_report_chart').html('');
            
                    for(var i in getData){
                  if(i!='in_array'&&i!='containsValue'){
                      sensor = getData[i].sensor;                      
                      val =changeDO(parseFloat(getData[i].value),sensor);
                      time_stamp = getData[i].timestamp;
                      if(strName!=sensor){
                        cntChart.push(sensor);
                        arrChart[sensor]=new Array();                            
                        arrX[sensor]=new Array();                            
                      }
                      arrChart[sensor].push(val);
                      arrX[sensor].push(time_stamp);
                      strName= sensor;
                      flg_duyet = true;      
                  }  
               }
                  strchart =  createDivChart('w03ct',cntChart) ; 
                  $('#w03ct_report_chart').html(strchart);
                
                    for(var i in cntChart){
                        if(i!='in_array'&&i!='containsValue'){
                            createLineChart('w03ct',cntChart[i],arrX,arrChart,place);
                        } 
                    }
                    createChartTotal('w03ct_report_total',cntChart[0],arrX,arrChart,((lang_iot=='vi')?'Tình Hình Diễn Biến Nước Ao Nuôi Theo Thời Gian':'Time Given Water Quality Reporting'),''); 
           
              changeWaiting(1);                          
            },

            error: function (){
                alert('có lỗi xảy ra'); 
                changeWaiting(1); 
            }

        });
        
  }
  
  // t?o  b?ng header cho bang
/* function Create_headTableReport(df,dt){
     str="<tr><th rowspan='2' style='min-width:150px;' class='headcol'>"+((lang_iot=='vi')?'CHỈ SỐ':'SENSOR')+"</th><th class='headcol1' rowspan='2' style='min-width:80px;'>"+((lang_iot=='vi')?'MỐC ĐO':'TIME SLOTS')+"</th>";
     str+="<th rowspan='2'>"+((lang_iot=='vi')?'MUC THAP':'LOW')+"</th>";
     str+="<th rowspan='2'>"+((lang_iot=='vi')?'MUC CAO':'HIGH')+"</th>";
       i=0;
       str_year='';
       str_date='<tr>';
       df = df.substr(0,10); 
       dt = dt.substr(0,10); 
       yy_pre = df.substr(0,4);
       mm_pre =  df.substr(5,2);
       
       while(df<=dt){ 
       yy_cur = df.substr(0,4);       
            mm_cur = df.substr(5,2); 
            if(mm_cur!=mm_pre){
              str_year+="<th colspan='"+i+"' align='center' style='min-width:200px'> " + mm_pre +"/"+yy_pre +'</th>';
              i=0;
           }
           i++;
           str_date+='<th style="min-width:40px">'+parseInt(df.substr(-2))+'</th>';
           df = addDate(df,1); 

           yy_pre= yy_cur;            
           mm_pre= mm_cur;            
       }
       //str_year+="<th colspan='"+i+"' align='center'>Nãm "+yy_pre +'</th></tr>';
       str_year+="<th colspan='"+i+"' align='center'>" + mm_pre +"/ "+yy_pre +'</th>';   
       str+= str_year+str_date+'</tr>';
       return str;
       
 }
 
 function create_bodyTableReport(wm,arrMocdo,arrSensor,df,dt){
     str_body='';
     index=0;
     df =df.substring(0,10);
     for(i in arrSensor){
            //if(fm_info.wt_sensor[wm].indexOf(arrSensor[i])>=0){
            if(i!='in_array'&&i!='containsValue'){ 
               index++;
               str_body +=createRowBySensor(index,arrMocdo,arrSensor[i],df,dt);
            }
            //}
       } 
       return   str_body;           
 }
 function  createRowBySensor(index,arrMocdo,sensor,df,dt){
       str='';
       lengMocdo = arrMocdo.length;
       for(i=0;i<lengMocdo;i++){
          str +=createRowByMocdo(index,i,lengMocdo,arrMocdo[i],sensor,df,dt);
       }
       return str ;
 }
 
 function createRowByMocdo(index,i,lengMocdo,mocdo,sensor,df,dt){
     cls_odd = '';
     if(index%2==0){
        cls_odd='class="cls_odd"'; 
     }
     result = '<tr '+cls_odd+' ><td >'+arrMocdo[mocdo]+'</td>';
     
     if(i==0){
      result = '<tr '+cls_odd+' ><td rowspan="'+lengMocdo+'" >'+ ((lang_iot=='vi')?fm_info.sensor[sensor].name_vi:fm_info.sensor[sensor].name_en)+'( '+fm_info.sensor[sensor].kihieu+': '+fm_info.sensor[sensor].unit+' )</td><td >'+arrMocdo[mocdo]+'</td><td rowspan="'+lengMocdo+'">'+fm_info['standard'][1][sensor].min_val+'</td><td rowspan="'+lengMocdo+'">'+fm_info['standard'][1][sensor].max_val+'</td>';   
     }
     while(df<=dt){ 
         result+="<td id='w03ct_"+df+'-'+sensor+'-'+mocdo+"' class='cls_num' ></td>" ; 
         df = addDate(df,1); 
     }
     result+='</tr>' ;
     return result;
 }   */
 
  
  
  
 </script>
