  <script>
$( function() {
    $( "#w03_baocao" ).tabs({
      beforeLoad: function( event, ui ) {
        ui.jqXHR.fail(function() {
          ui.panel.html(
            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
            "If this wouldn't be a demo." );
        });
      }
    });

  });
  

  </script>
 
<div id="w03_baocao" class="w3-container" style="width:100%;padding-left:0px;padding-right:0px">
  <ul>
    <li><a href="templates/water/w03_baocaonhanh.html" id="w03_bcnhanh">BAO CAO NHANH</a></li>
    <li><a href="templates/water/w03_baocaochitiet.html" id="w03_bcchitiet">BAO CO CHI TIET</a></li>
    
  </ul>  
  
</div>