<div class="w3-row cls_block" style="display:flex">  
<div id="w03_info" style="magin:auto" class="w3-container w3-col s12 m12 l12 filter-pdf">

<div class="w3-row" id="w03_row_wt" style="display:none">
<div class="w3-col s12 m12 l12 alignleft" id="w03_equipment"> Thiết Bị  
</div>
<div class="w3-col s12 m12 l12 alignleft" id="w03_wasp_type">

</div>
</div>

<div class="w3-row"> 

<div class="w3-col s4 m1 l1 alignright"  id="w03_bond_name"> Tên Ao:  
</div>
<div class="w3-col s8 m4 l4 alignleft" id="w03_place" >
 
</div>
 


<div class="w3-col s4 m1 l1 alignright" id="w03_div_label_mocdo"> Mốc Ðo:    
</div>
<div class="w3-col s8 m6 l6 alignleft" > 
      <select id="w03_cbb_mocdo" style="width:inherit;margin-right: 10px;" multiple="multiple">      
      </select>
</div>

</div> 

<div class="w3-row">  
<div class="w3-col s4 m1 l1 alignright" id="w03_sensor_name"> Chỉ Số:    
</div>
<div class="w3-col s8 m4 l4 alignleft" id="w03_sensor_type" style="padding-right: 20px;"> 

</div>


<div class="w3-col s4 m1 l1 alignright"  id="w03_title_from"> Từ:   
</div>
<div class="w3-col s8 m2 l2 alignleft" id="w03_from">
<input type='text' class="datepk w100" id="w03_txt_from"/> 
</div>
<div class="w3-col s4 m1 l1 alignright" id="w03_title_to"> Đến:   
</div>
<div class="w3-col s8 m2 l2 alignleft" id="w03_to"> 
<input type='text' class="datepk w100" id="w03_txt_to"/> 
</div>



<div class="w3-col s8 m1 l1" align="left" style="display: flex;">
   <button id="w03_btnview" class="btn btn-primary w100" style="margin-top:0px;margin-bottom:0px;margin-left:auto;margin-right:auto;height:22px;padding-top:0px"> Xem</button>
</div>
</div> 
 

</div>
</div> 
<div class="w3-row cls_block">      

 <div class="w3-container w3-col s12 m12 l12" id="w03_report_total" style="padding:10px 0px 10px 0px;display:flex">  
 </div> 
</div>
 </div>
               
 <script>
var arrMocdo = new Array(); 
 $(function() {
     arrMocdo = [];
      $('.datepk').datetimepicker(); 
      $('.xdsoft_timepicker').hide();   
      $('#w03_txt_from').val(GetToday(0,0,2));
      $('#w03_txt_to').val(GetToday(0,0,0));
        
      $('#w03_cbb_mocdo').change(function() {
            console.log($(this).val());
        }).multipleSelect({
            animate:'fade',
            minimumCountSelected: 6

        });     
 
    $('#w03_btnview').click(function(){
         w03_createReport();
    });
    
    cbb_waspmote_type=create_waspmote_type('w03_cbb_wasp_type',false);
    $('#w03_wasp_type').html(cbb_waspmote_type);
    wt_val= $('#w03_cbb_wasp_type').val();
    cbb_waspmote = create_waspmote(wt_val,'w03_cbb_place',false);
    $('#w03_place').html(cbb_waspmote);
    cbb_sensor = create_sensor(wt_val,'w03_cbb_sensor_type',true,32);
    $('#w03_sensor_type').html(cbb_sensor);
    $('#w03_cbb_sensor_type').change(function() {
        console.log($(this).val());
        }).multipleSelect({
        animate:'fade',
        minimumCountSelected: 6

    }); 
        
    if(countObject(fm_info.wasptype)>1){
       $('#w03_row_wt').show();
    }
    
    $('#w03_cbb_wasp_type').change(function(){
        wt_val = $(this).val();
        cbb_waspmote = create_waspmote(wt_val,'w03_cbb_place',false);
        $('#w03_place').html(cbb_waspmote);
        cbb_sensor = create_sensor(wt_val,'w03_cbb_sensor_type',false,200);
        $('#w03_sensor_type').html(cbb_sensor);
                
    });
     if(current_wm!=''){
          $('#w03_cbb_place').val(current_wm);
      }
      
       $.ajax({
              url: 'xml/mocdo.xml',
                  type: 'get',   
                  cache:true,   
                  timeout: 1000,        // sets timeout for the request (10 seconds)
                  error: function(xhr, status, error) { alert('Error: '+ xhr.status+ ' - '+ error); },     // alert a message in case of error
                  dataType: 'xml',
                  success: function(response) {
                    strOption=''; 
                    $(response).find('mocdo').find('md').each(function() {
                          var elm = $(this);
                          var id  = elm.attr('id');
                          var name = elm.find('name').text();
                          selected=''; 
                          if(fm_info.mocdo.indexOf(id)>=0){
                             selected=' selected="selected" ' ;
                          }
                          arrMocdo[id]= name  ;
                          strOption+='<option value="'+id+'" '+selected+'>'+name+'</option>'; 
                    });
                      $('#w03_cbb_mocdo').html(strOption);  
                      $('#w03_cbb_mocdo').change(function() {
                            console.log($(this).val());
                            }).multipleSelect({
                                animate:'fade',
                                minimumCountSelected: 5

                      });                    
                    
                  }
                    
                });
       
    changeLanguage(lang_iot);  
    setTimeout(w03_createReport,1000); 
  });      
  
  // 
  function check_validate(wasp_type,sensor_type,place,date_from,date_to){      

        $('.w03_info').find('input[type=text]').removeClass('cls_alert');
        
       flg_alert= false;
        if(wasp_type==''||wasp_type==null){
            $('#w03_cbb_wasp_type').addClass('cls_alert');
            flg_alert=true;
        }if(sensor_type==''||sensor_type==null){ 
            $('#w03_sensor_type').find('.ms-parent').addClass('cls_alert');
            flg_alert=true;
        }if(place==''||place==null){
            $('#w03_cbb_place').addClass('cls_alert');
            flg_alert=true;
        }if(date_from==''){
            $('#w03_txt_from').addClass('cls_alert');
            flg_alert=true;
        }if(date_to==''){
            $('#w03_txt_to').addClass('cls_alert');
            flg_alert=true;
        }
        if(flg_alert){
            sms = (lang_iot=='vi')?'Vui lòng nhập đầy đủ thông tin':'Please input all infomations for report';
            alert(sms);
                        
        }
        return flg_alert;
      
  }
  
  function w03_createReport(){
      changeWaiting(0); 
        var wasp_type=$('#w03_cbb_wasp_type').val(); 
        var sensor_type=$('#w03_cbb_sensor_type').val(); 
        var  report_type  =2; 
        var place=$('#w03_cbb_place').val()==null?'': $('#w03_cbb_place').val();   
        var date_from=ConvertDateTime($('#w03_txt_from').val());
        var date_to=ConvertDateTime($('#w03_txt_to').val());
        var arrmocdo= $('#w03_cbb_mocdo').val();
        flg = check_validate(wasp_type,sensor_type,place,date_from,date_to,report_type,arrmocdo);
        if(flg){
           return false; 
        } 

        $.ajax({
            url: 'create_chart.php',
            type: 'POST',
            data:{
                wt:wasp_type,                 
                st:sensor_type,                 
                rt:report_type,                 
                mocdo:arrmocdo,                 
                pl:place,                 
                df:date_from,                 
                dt:date_to                 
            } ,
            cache: false,
            
            success: function(string){
		index_str = string.indexOf('[');
           str_final = string.substring(index_str);
           var getData = JSON.parse(str_final);

                
                flg_duyet=false;
                id_wasp_pre='';
                str_info =''; 
                strbody='' ;
                var strName=''; 
                var arrChart = new Array();
                var arrX = new Array();
                var cntChart = new Array();
                $('#w03_report_chart').html('');              
                    
                header =  Create_headTableReport(date_from,date_to);   // header tao 
                body = create_bodyTableReport(place,arrmocdo,sensor_type,date_from,date_to);// tao body
                tbl='<div class="inner"><table id="w03_tbl_mocdo"><thead>'+header+'</thead><tbody>'+body+'</tbody></table></div>';
                $('#w03_report_total').html(tbl);
                
                for(var i in getData){
                  if(i!='in_array'&&i!='containsValue'){
                      sensor = getData[i].sensor;                      
                      id_wasp = getData[i].id_wasp;  
          
                      val =changeDO(parseFloat(getData[i].val),sensor);
                      ymd = getData[i].ymd;
                      time_h =parseInt(getData[i].time_h);                                                   
                       limit = checkLimit(id_wasp,sensor,val) ; 
                       if(limit=='cls_over'){
                            $('#w03_'+ymd+'-'+sensor+'-'+time_h).addClass(limit).removeClass('cls_under');
                       }else if(limit=='cls_under'){
                            $('#w03_'+ymd+'-'+sensor+'-'+time_h).addClass(limit).removeClass('cls_over');
                       }else{
                             $('#w03_'+ymd+'-'+sensor+'-'+time_h).removeClass('cls_under').removeClass('cls_over'); 
                       }    
                      $('#w03_'+ymd+'-'+sensor+'-'+time_h).html(val);                          
                     
                      
                  }  
               }             
              changeWaiting(1);                          
            },

            error: function (){
                alert('có lỗi xảy ra'); 
                changeWaiting(1); 
            }

        });
        
  }
  
  // t?o  b?ng header cho bang
 function Create_headTableReport(df,dt){
     str="<tr><th rowspan='2' style='min-width:150px;' class='headcol'>"+((lang_iot=='vi')?'CHỈ SỐ':'SENSOR')+"</th><th class='headcol1' rowspan='2' style='min-width:80px;'>"+((lang_iot=='vi')?'MỐC ĐO':'TIME SLOTS')+"</th>";
     str+="<th rowspan='2'>"+((lang_iot=='vi')?'MUC THAP':'LOW')+"</th>";
     str+="<th rowspan='2'>"+((lang_iot=='vi')?'MUC CAO':'HIGH')+"</th>";
       i=0;
       str_year='';
       str_date='<tr>';
       df = df.substr(0,10); 
       dt = dt.substr(0,10); 
       yy_pre = df.substr(0,4);
       mm_pre =  df.substr(5,2);
       
       while(df<=dt){ 
       yy_cur = df.substr(0,4);       
            mm_cur = df.substr(5,2); 
            if(mm_cur!=mm_pre){
              str_year+="<th colspan='"+i+"' align='center' style='min-width:200px'> " + mm_pre +"/"+yy_pre +'</th>';
              i=0;
           }
           i++;
           str_date+='<th style="min-width:40px">'+parseInt(df.substr(-2))+'</th>';
           df = addDate(df,1); 

           yy_pre= yy_cur;            
           mm_pre= mm_cur;            
       }
       str_year+="<th colspan='"+i+"' align='center'>" + mm_pre +"/ "+yy_pre +'</th>';   
       str+= str_year+str_date+'</tr>';
       return str;
       
 }
 
 function create_bodyTableReport(wm,arrMocdo,arrSensor,df,dt){
     str_body='';
     index=0;
     df =df.substring(0,10);
     for(i in arrSensor){
            //if(fm_info.wt_sensor[wm].indexOf(arrSensor[i])>=0){
            if(i!='in_array'&&i!='containsValue'){ 
               index++;
               str_body +=createRowBySensor(index,arrMocdo,arrSensor[i],df,dt);
            }
            //}
       } 
       return   str_body;           
 }
 function  createRowBySensor(index,arrMocdo,sensor,df,dt){
       str='';
       lengMocdo = arrMocdo.length;
       for(i=0;i<lengMocdo;i++){
          str +=createRowByMocdo(index,i,lengMocdo,arrMocdo[i],sensor,df,dt);
       }
       return str ;
 }
 
 function createRowByMocdo(index,i,lengMocdo,mocdo,sensor,df,dt){
     cls_odd = '';
     if(index%2==0){
        cls_odd='class="cls_odd"'; 
     }
     result = '<tr '+cls_odd+' ><td >'+arrMocdo[mocdo]+'</td>';
     
     if(i==0){
      result = '<tr '+cls_odd+' ><td rowspan="'+lengMocdo+'" >'+ ((lang_iot=='vi')?fm_info.sensor[sensor].name_vi:fm_info.sensor[sensor].name_en)+'( '+fm_info.sensor[sensor].kihieu+': '+fm_info.sensor[sensor].unit+' )</td><td >'+arrMocdo[mocdo]+'</td><td rowspan="'+lengMocdo+'" align="center">'+fm_info['standard'][1][sensor].min_val+'</td><td rowspan="'+lengMocdo+'" align="center">'+fm_info['standard'][1][sensor].max_val+'</td>';   
     }
     while(df<=dt){ 
         result+="<td id='w03_"+df+'-'+sensor+'-'+mocdo+"' class='cls_num' ></td>" ; 
         df = addDate(df,1); 
     }
     result+='</tr>' ;
     return result;
 }
 
  
  
  
 </script>
