  <script>
$( function() {
    $( "#tabs" ).tabs({
      beforeLoad: function( event, ui ) {
        ui.jqXHR.fail(function() {
          ui.panel.html(
            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
            "If this wouldn't be a demo." );
        });
      }
    });
    
    changeLanguage(lang_iot);
    if(lang_iot=='en'){
         $('#w08_img_sodoketnoi').attr('src','iot.vn/images/diagram.png');
    }else{
         $('#w08_img_sodoketnoi').attr('src','iot.vn/images/hinhnen.png'); 
    } 
  } );
  

  </script>
 
<div id="tabs" class="container-fluid" style="width:100%;padding-left:0px;padding-right:0px">
  <ul>
    <li><a href="templates/water/w04_setlimit_new.html" id="w04_nguongcanhbao">NGUỠNG CẢNH BÁO</a></li>
    <li><a href="templates/water/w05_mocdo.html" id="w04_mocdo">MỐC ĐO BÁO CÁO</a></li>
<!--    <li><a href="templates/water/w04_setlimit_new.html">Tài khoản</a></li>-->
<!--    <li><a href="templates/water/w07_contact.html">THÔNG TIN LIÊN HỆ</a></li>  -->
    <li><a href="#w08_config" id="w04_sodoketnoi">SƠ ĐỒ KẾT NỐI</a></li>
<!--    <li><a href="templates/water/w07_contact.html">QUẢN TRỊ</a></li>   -->
  </ul>
  <div class="container-fluid" id="w08_config" style="display:flex;padding-top:30px;padding-bottom:30px" >
  <img src="iot.vn/images/hinhnen.png" id="w08_img_sodoketnoi" class="img-reponsive img-thumbnail" style="margin:auto"></img></div>
  
</div>