<div class="container-fluid">
      <div class="row" style="display:flex">
      <div class="col-xs-12 col-sm-12 col-md-12 col-md-10" style="margin:auto;padding-top:30px">
    <div class="panel panel-primary"> 
      <div class="panel-heading" align="center" id="w04_title_canhbao">Cài Đặt Ngưỡng Cảnh Báo</div>
      <div class="panel-body">
      <div class="container-fluid" style="display:flex;padding-top:15px;">

<div class="row" id="w04_row_wt" style="display:none;margin:auto">
<div class="col-lg-12" id="w04_title_loaithietbi">Loại thiết bị
</div>
<div class="col-lg-12" id="w04_col_wt">
</div>
</div>
 
<div class="row" style="margin:auto">
<div class="container-fluid col-xs-12 col-sm-12 col-md-12 col-lg-12 table-reponsive"  style="display:flex;margin:auto;padding:0px">

<table class="table tbl-info table-reponsive" id="w04_tbl_limit" style="margin:auto" width="100%">
<thead id="w04_head_grid_limit">
</thead>
<tbody id="w04_body_grid_limit">
</tbody>
<tfoot id="w04_foot_grid_limit">
</tfoot>
</table>
</div>
</div>

 
</div>
<div class="container-fluid" style="padding-top:15px;"> 
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" align="right" style="background-color:white" ><button id="w04_getdefault" class="btn btn-primary" style="float:center;height:30px;width:200px">Tải cấu hình chuẩn</button></div><div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="background-color:white"><button id="w04_save" class="btn btn-primary" style="height:30px;width:150px">Cập nhật</button>
</div>
</div>
</div>  
 
       </div>
    </div>
    </div>
    </div>
    </div>
 

<script type="text/javascript">
$(function(){
       i = 1;
     $(document).delegate("#w04_getdefault",'click',function() {
            for(k in fm_info.standard[1]){                
               sensor = k;
               min_val = fm_info.standard[1][k].min_val;
               max_val = fm_info.standard[1][k].max_val;
              $('#w04_foot_grid_limit').find('.w04_input').each(function(){
                 if($(this).attr('data')==sensor){
                     if($(this).attr('wt_type')=='w04-min'){
                         $(this).val(min_val);
                     }else{
                         $(this).val(max_val);
                     }
                 }     
                });
            }
      });
      
    str_wt=create_waspmote_type('w04_cbb_wt',false);
    $('#w04_col_wt').html(str_wt);
    
    if(countObject(fm_info.wasptype)>1){
       $('#w04_row_wt').show();
    }
    wt = $('#w04_cbb_wt').val();
    w04_createTbl(wt);
    $('#w04_checkall').click(function(){
         flg = $(this).prop('checked');          
         item = $(this).attr('data') ;
         $('.'+item).prop('checked',flg);
    });    
    $('.w04_chkwm').click(function(){
        flg=true;
        $('.w04_chkwm').each(function(){
             if(!$(this).prop('checked')){
                 flg = false;
             }
        });
        $('#w04_checkall').prop('checked',flg);
    });
    $('#w04_save').click(function(){
        flg= false;
        arr_limit= new Array();
        $('.w04_input').each(function(){            
            if($.trim($(this).val())==''){
               //$(this).addClass('cls_alert'); 
            }else{
               //$(this).removeClass('cls_alert');
               flg=true;
               data= $(this).attr('data'); 
               wt_type= $(this).attr('wt_type'); 
               if(typeof(arr_limit[data])=='undefined'){                    
                    arr_limit[data]= new Array(); 
               }
               arr_limit[data][wt_type]=$.trim($(this).val());
            }
        });
        if(!flg){
            sms = (lang_iot=="vi"?"Vui lòng nhập giới hạn cảnh báo":"Please input alert limit(s)");
            alert(sms);
            return false;
        }
        arr_id = new Array();
        $('.w04_chkwm').each(function(){            

            if($(this).prop('checked')){
              tr_id = $(this).parents('tr:first').attr('id');
               temp = tr_id.split("-");
               arr_id.push(temp[1]); 
                
            }
        });
        if(arr_id.length==0){
            
             sms = (lang_iot=="vi"?"Vui lòng chọn ao để cảnh báo":"Please select bond");
            alert(sms);
            return false;
        }
        xajax_w04_update(arr_id,arr_limit);
        pos = arrClick.indexOf('section3');
          if(pos>=0){
            arrClick.splice(pos,1);
          }
          pos = arrClick.indexOf('section2');
          if(pos>=0){
            arrClick.splice(pos,1);
          }
        
    });
    changeLanguage(lang_iot); 
    changeWaiting(1); 

}); 
function w04_createTbl(wt){
    cntWpmost = countObject(fm_info.limit); // đếm số lượng waspmote thuộc loại wt có trong hệ thống.
    strtemp = '';
    strheadgrid='<tr class="w04_tbl_head"><th width="30px">'+(lang_iot=="vi"?"CHỌN":"SELECT")+'</th><th width="200px" rowspan="2" style="padding-bottom:25px">'+(lang_iot=="vi"?"TÊN AO":"BOND NAME")+'</th>'; 
    str ='<tr class="w04_tr_wmlimit w04_tbl_head"><td class="cnter" align="center"><input type="checkbox" class="w04_chkwm" data="w04_checkall"/></td><td class="w04_name"></td>'; 
    strfootgrid='<tr><td colspan="2" style="text-align:right;font-size:15px">'+(lang_iot=="vi"?"Giá trị được thiết lập là: ":"Given Value(s): ")+'</td>';
    cnt=0;
    for(i in fm_info.wt_sensor[wt]){
        if(i!='in_array'&&i!='containsValue'){ 
            if(cnt%2==0){
                str+='<td  class="w04-min-'+fm_info.wt_sensor[wt][i]+' cls_le cls_num"  data="'+fm_info.wt_sensor[wt][i]+'"></td>'+  '<td  class="w04-max-'+fm_info.wt_sensor[wt][i]+' cls_le cls_num"  data="'+fm_info.wt_sensor[wt][i]+'"></td>';  
               strheadgrid+= '<th colspan="2" class="cls_le">'+ fm_info.sensor[fm_info.wt_sensor[wt][i]]['kihieu']+'<p>( '+fm_info.sensor[fm_info.wt_sensor[wt][i]]['unit']+' )</p></th>';
            }else{
                str+='<td  class="w04-min-'+fm_info.wt_sensor[wt][i]+' cls_num" data="'+fm_info.wt_sensor[wt][i]+'"></td>'+  '<td  class="w04-max-'+fm_info.wt_sensor[wt][i]+' cls_num" data="'+fm_info.wt_sensor[wt][i]+'"></td>';
                strheadgrid+= '<th colspan="2">'+ fm_info.sensor[fm_info.wt_sensor[wt][i]]['kihieu']+'<p>( '+fm_info.sensor[fm_info.wt_sensor[wt][i]]['unit']+' )</p></th>'; 
            }

          strfootgrid+='<td ><input type="text" style="text-align:right" data="'+fm_info.wt_sensor[wt][i]+'" wt_type="w04-min" class="w04_input"/></td><td ><input type="text" style="text-align:right" wt_type="w04-max" data="'+fm_info.wt_sensor[wt][i]+'" class="w04_input"/></td>';
          
         cnt++;     
        }
    }
      strheadgrid+='</tr><tr id="w04_header2"><th> <input type="checkbox" data="w04_chkwm" class="w04_checkall" id="w04_checkall"/></th>';
      for(i=0;i<cnt;i++){
          if(i%2==0){
             strheadgrid+='<th class="cls_le">'+(lang_iot=="vi"?"Dưới":"Low")+'</th><th class="cls_le">'+(lang_iot=="vi"?"Trên":"High")+'</th>'; 
          }else{
             strheadgrid+='<th>'+(lang_iot=="vi"?"Dưới":"Low")+'</th><th>'+(lang_iot=="vi"?"Trên":"High")+'</th>';  
          }          
      }
      strheadgrid+='</tr>';
      $('#w04_head_grid_limit').html(strheadgrid);
  
    str+='</tr>';
    strbodygrid='';
    for(i=0;i<cntWpmost;i++){
      strbodygrid +=str;
    }
    $('#w04_body_grid_limit').html(strbodygrid);
    strfootgrid+='</tr>';
    $('#w04_foot_grid_limit').html(strfootgrid);
    
    cntW=0;
    
    //********************bắt đầu thêm giá trị limit vào bảng***********************//
    
    for(i in fm_info.limit){
       if(i!='in_array'&&i!='containsValue'){
          $('#w04_body_grid_limit tr.w04_tr_wmlimit:eq('+cntW+')').prop('id','w04_tr-'+i);
          wm_name = (lang_iot == 'vi')?fm_info.waspmote[i].name_vi:fm_info.waspmote[i].name_en;   
          $('#w04_body_grid_limit tr.w04_tr_wmlimit:eq('+cntW+')').find('.w04_name').html(wm_name); 
          for(k in fm_info.limit[i]){
              if(k!='in_array'&&k!='containsValue'){
                min_val = fm_info.limit[i][k].min_val; 
                max_val = fm_info.limit[i][k].max_val;
                $('#w04_body_grid_limit tr.w04_tr_wmlimit:eq('+cntW+')').find('.w04-max-'+k).html(max_val);  
                $('#w04_body_grid_limit tr.w04_tr_wmlimit:eq('+cntW+')').find('.w04-min-'+k).html(min_val);  
              }
          }
           
       }
       cntW++; 
    }
    $('#w04_tbl_limit').css('width',250+cnt*90);
    
    //********************kết thúc thêm giá trị limit vào bảng************************//   

}

function w04_finish(key,max_val,min_val){    
    $('.w04_chkwm').each(function(){ 
        if($(this).prop('checked')){
          tr_id = $(this).parents('tr:first').attr('id');
          arr_id = tr_id.split('-');
          id=arr_id[1];
          if(min_val!=''){
             $('#'+tr_id).find('.w04-min-'+key).html(min_val); 
             fm_info.limit[id][key].min_val=min_val; 
          }
          if(max_val!=''){
              $('#'+tr_id).find('.w04-max-'+key).html(max_val); 
              fm_info.limit[id][key].max_val=max_val;
          }
          //fm_info.assignLimit_item(id,key,min_val,max_val);
          
                    
        }
    });    
}
</script>