<div class="container-fluid">
      <div class="row" style="display:flex">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-6" style="margin:auto;padding-top:30px">
    <div class="panel panel-primary"> 
      <div class="panel-heading" align="center" id="w05_title_mocdo">Cài Đặt Mốc Đo Cho Báo Cáo</div>
      <div class="panel-body">
<div class="container-fluid" style="margin-top:15px;" id="w05_dv_mocdo">
 <div class="row">
 <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" for="w05_chk-0"><input type="checkbox" class="w05_mocdo" style="display:none"  value="0" id="w05_chk-0"> <label id="w05_lbl-0" > </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" for="w05_chk-1"><input type="checkbox" class="w05_mocdo" style="display:none"  value="1" id="w05_chk-1"> <label id="w05_lbl-1" >1~2h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><input type="checkbox" class="w05_mocdo" style="display:none"  value="2" id="w05_chk-2"> <label id="w05_lbl-2" >2~3h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><input type="checkbox" class="w05_mocdo" style="display:none"  value="3" id="w05_chk-3"> <label id="w05_lbl-3" >3~4h </label> 
 </div>
</div>
 <div class="row">
 <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><input type="checkbox" class="w05_mocdo" style="display:none"  value="4" id="w05_chk-4"> <label id="w05_lbl-4" >4~5h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"> <input type="checkbox" class="w05_mocdo" style="display:none"  value="5" id="w05_chk-5"> <label id="w05_lbl-5" >5~6h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"> <input type="checkbox" class="w05_mocdo" style="display:none"  value="6" id="w05_chk-6"> <label id="w05_lbl-6" >6~7h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><input type="checkbox" class="w05_mocdo" style="display:none"  value="7" id="w05_chk-7"> <label id="w05_lbl-7" >7~8h </label>
 </div>
</div>
 <div class="row">
 <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"> <input type="checkbox" class="w05_mocdo" style="display:none"  value="8" id="w05_chk-8"> <label id="w05_lbl-8" >8~9h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"> <input type="checkbox" class="w05_mocdo" style="display:none"  value="9" id="w05_chk-9"> <label id="w05_lbl-9" >9~10h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"> <input type="checkbox" class="w05_mocdo" style="display:none"  value="10" id="w05_chk-10"> <label id="w05_lbl-10" >10~11h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"> <input type="checkbox" class="w05_mocdo" style="display:none"  value="11" id="w05_chk-11"> <label id="w05_lbl-11" >11~12h </label> 
 </div>
</div>
 <div class="row">
 <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">  <input type="checkbox" class="w05_mocdo" style="display:none"  value="12" id="w05_chk-12"> <label id="w05_lbl-12" >12~13h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"> <input type="checkbox" class="w05_mocdo" style="display:none"  value="13" id="w05_chk-13"> <label id="w05_lbl-13" >13~14h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">  <input type="checkbox" class="w05_mocdo" style="display:none"  value="14" id="w05_chk-14"> <label id="w05_lbl-14" >14~15h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"> <input type="checkbox" class="w05_mocdo" style="display:none"  value="15" id="w05_chk-15"> <label id="w05_lbl-15" >15~16h </label> 
 </div>
</div>
 <div class="row">
 <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"> <input type="checkbox" class="w05_mocdo" style="display:none"  value="16" id="w05_chk-16"> <label id="w05_lbl-16" >16~17h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"> <input type="checkbox" class="w05_mocdo" style="display:none"  value="17" id="w05_chk-17"> <label id="w05_lbl-17" >17~18h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"> <input type="checkbox" class="w05_mocdo" style="display:none"  value="18" id="w05_chk-18"> <label id="w05_lbl-18" >18~19h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"> <input type="checkbox" class="w05_mocdo" style="display:none"  value="19" id="w05_chk-19"> <label id="w05_lbl-19" >19~20h </label> 
 </div>
</div>
 <div class="row">
 <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">  <input type="checkbox" class="w05_mocdo" style="display:none"  value="20" id="w05_chk-20"> <label id="w05_lbl-20" >20~21h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"> <input type="checkbox" class="w05_mocdo" style="display:none"  value="21" id="w05_chk-21"> <label id="w05_lbl-21" >21~22h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"> <input type="checkbox" class="w05_mocdo" style="display:none"  value="22" id="w05_chk-22"> <label id="w05_lbl-22" >22~23h </label> 
 </div>
  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"> <input type="checkbox" class="w05_mocdo" style="display:none"  value="23" id="w05_chk-23"> <label id="w05_lbl-23" >23~24h </label> 
 </div>
</div>
</div>

<div class="container-fluid" style="display:flex;padding-top:15px;">
<button value="Mặc định" class="btn btn-primary" id="w05_btndefault" style="margin:auto;width:150px;height:30px">Mặc định</button>   
<button value="Cập nhật" class="btn btn-primary" id="w05_btnupdate" style="margin:auto;width:150px;height:30px">Cập nhật</button>
</div>
      </div>
    </div>
    </div>
    </div>
    </div>
   

<script>
createTbl_mocdo();
var click_chkbox= false;      
function  createTbl_mocdo(){
    $.ajax({
              url: 'xml/mocdo.xml',
                  type: 'get',   
                  cache:true,   
                  timeout: 10000,        // sets timeout for the request (10 seconds)
                  error: function(xhr, status, error) { alert('Error: '+ xhr.status+ ' - '+ error); },     // alert a message in case of error
                  dataType: 'xml',
                  success: function(response) {
                    strOption=''; 
                    $(response).find('mocdo').find('md').each(function() {
                          var elm = $(this);
                          var id  = elm.attr('id');
                          var name = elm.find('name').text(); 
                          $('#w05_lbl-'+id).html(name);
                    });  
                    
                  }
                    
                });
              for(var i in fm_info.mocdo){
                  if(i!='in_array'&&i!='containsValue'){ 
                     val = fm_info.mocdo[i];
                     $('#w05_chk-'+val).prop('checked',true);
                     $('#w05_chk-'+val).parent().addClass('cls_selected');                      
                  }                  
              }
}
  $(function(){
  
      
      $(document).delegate('#w05_dv_mocdo div div input[type="checkbox"]:first','click',function(){
          click_chkbox =true;
          alert('click_chkbox:'+click_chkbox);
          
      } );  
      
      $('#w05_dv_mocdo div div').click(function(){
          w05_clickMocdo(this);
      } );      
      
      $('#w05_btndefault').click(function(){
          w05_clickMocdo(this);
      } );
/*      $('#w05_dv_mocdo div div label').click(function(){
          parent = $(this).parent('div');
          
          w05_clickMocdo(parent,0);
      } );   */

      
      $('#w05_btnupdate').click(function(){
          changeWaiting(0);
          w05_arrmocdo = [];
          w05_arrInsert = [];
          w05_arrDelete = [];
         $('#w05_dv_mocdo').find('.w05_mocdo').each(function(){
               if($(this).prop('checked')){
                 w05_arrmocdo.push($(this).val());
                 w05_arrInsert.push($(this).val());
                   
               }
         });
          //w05_arrInsert =  w05_arrmocdo;
          
          for(var i in fm_info.mocdo){
              if(i!='in_array'&&i!='containsValue'){ 
                 val = fm_info.mocdo[i];
                 pos = w05_arrInsert.indexOf(val);
                 if(pos>=0){
                     w05_arrInsert.splice(pos,1);
                 }else{
                     w05_arrDelete.push(val);
                 }
              }                  
          }
          xajax_w05_update(w05_arrInsert,w05_arrDelete); 
          pos = arrClick.indexOf('section3');
          if(pos>=0){
            arrClick.splice(pos,1);
          }
         
          fm_info.mocdo= w05_arrmocdo;
          $('.cls_choose_del').removeClass('cls_choose_del');
          $('.cls_choose_add').removeClass('cls_choose_add').addClass('cls_selected');
      }); 
      
      changeLanguage(lang_iot);   
  })
  
function w05_clickMocdo(obj){

    if(click_chkbox){ 
        alert('phantren'); 
        alert($(obj).find('[type=checkbox]:first').prop('checked'));
        alert($(obj).find('[type=checkbox]:first').attr('id'));
        if($(obj).find('[type=checkbox]:first').prop('checked')){
          if($(obj).hasClass('cls_choose_del')){
               $(obj).removeClass('cls_choose_del').addClass('cls_selected');;
          }else{
                $(obj).addClass('cls_choose_add');   
          }  
        }else{
        if($(obj).hasClass('cls_selected')){
            $(obj).removeClass('cls_selected').addClass('cls_choose_del'); 
          }else{
          $(obj).removeClass('cls_choose_add'); 
          }
          
        } 
                
                
    }else{
                    if($(obj).find('[type=checkbox]:first').prop('checked')){
                  if($(obj).hasClass('cls_choose_add')){
                       $(obj).removeClass('cls_choose_add');
                  }else{
                        $(obj).removeClass('cls_selected').addClass('cls_choose_del');   
                  }
                 $(obj).find('[type=checkbox]:first').prop('checked',false) ;
/*                 id = $(obj).find('[type=checkbox]:first').attr('id') ;
                      $('#'+id).prop('checked',false);   */
            

              }else{
              if($(obj).hasClass('cls_choose_del')){
                    $(obj).removeClass('cls_choose_del').addClass('cls_selected'); 
                  }else{
                  $(obj).addClass('cls_choose_add'); 
                  }
                                $(obj).find('[type=checkbox]:first').prop('checked',true); 
              } 
   
                    
    }
    click_chkbox=false;
          
}
</script>

