      <div class="container-fluid">
      <div class="row" style="display:flex">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-8" style="margin:auto;padding-top:30px">
    <div class="panel panel-primary"> 
      <div class="panel-heading" align="center">Thông tin liên hệ</div>
      <div class="panel-body table-reponsive"><table class="table">
      <tr><td>Số hotline (24/7):</td><td><img src="iot.vn/images/hotline.jpg" height="40px" width="40px"></img></td><td>0918439834</td><td><img height="40px" width="40px" src="iot.vn/images/red_mail.png"></img></td><td>PhongTV@phadistribution.com</td></tr>
      <tr><td>Phòng kinh doanh(mr Phong):</td><td><img src="iot.vn/images/phone.png" height="40px" width="40px"></img></td><td>0918439834</td><td><img height="40px" width="40px" src="iot.vn/images/mail.png"></img></td><td>PhongTV@phadistribution.com</td></tr>
      <tr><td>Hỗ trợ kỹ thuật(mr Cảnh):</td><td><img src="iot.vn/images/phone.png" height="40px" width="40px"></img></td><td>0988127788</td><td><img height="40px" width="40px" src="iot.vn/images/mail.png"></img></td><td>Canhdq@phadistribution.com</td></tr>
      <tr><td>Hỗ trợ phần mềm(mr Trung):</td><td><img src="iot.vn/images/phone.png" height="40px" width="40px"></img></td><td>0988667113</td><td><img height="40px" width="40px" src="iot.vn/images/mail.png"></img></td><td>Trungnt@phadistribution.com</td></tr>
      <table></div>
    </div>
    </div>
    </div>
    </div>
    
  <!--
<div class="container-fluid" style="display:flex;padding-top:30px;">
<div class="container-fluid cls_block" style="width:80%;margin:auto;background:transparrent;padding:15px 0px 15px 0px">
<div class="row cls_row_height">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center"><h3>Thông tin liên hệ</h3></div>
</div> 
<div class="row cls_row_height">
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">Số hotline (24/7):</div>
<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1"> <img src="iot.vn/images/hotline.jpg" height="40px" width="40px"></img> </div>
<div class="col-xs-10 col-sm-10 col-md-2 col-lg-2">0988123456</div>
<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1"><img height="40px" width="40px" src="iot.vn/images/red_mail.png"></img></div>
<div class="col-xs-10 col-sm-10 col-md-3 col-lg-3">0988123456</div>
</div>
<div class="row cls_row_height">
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">Phòng kinh doanh (Mr Phong):</div>
<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1"><img height="40px" width="40px" src="iot.vn/images/phone.png"></img></div>
<div class="col-xs-10 col-sm-10 col-md-2 col-lg-2">0988123456</div>
<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1"><img height="40px" width="40px" src="iot.vn/images/mail.png"></img></div>
<div class="col-xs-10 col-sm-10 col-md-3 col-lg-3">0988123456</div>
</div>
<div class="row cls_row_height">
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">Hỗ trợ phần cứng (Mr Cảnh):</div>
<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1"><img height="40px" width="40px" src="iot.vn/images/phone.png"></img></div>
<div class="col-xs-10 col-sm-10 col-md-2 col-lg-2">0988123456</div>
<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1"><img  height="40px" width="40px" src="iot.vn/images/mail.png"></img></div>
<div class="col-xs-10 col-sm-10 col-md-3 col-lg-3">0988123456</div>
</div>
<div class="row cls_row_height">
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">Hỗ trợ phần mềm (Mr Trung):</div>
<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1"><img height="40px" width="40px" src="iot.vn/images/phone.png"></img></div>
<div class="col-xs-10 col-sm-10 col-md-2 col-lg-2">0988667113</div>
<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1"><img height="40px" width="40px" src="iot.vn/images/mail.png"></img></div>
<div class="col-xs-10 col-sm-10 col-md-3 col-lg-3">0988123456</div>
</div>

</div>  
</div>  -->

