<div class="container-fluid" style="margin:auto" id="w3_div">
<div class="row">
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> Email </div>  
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> <input type="text" class="write w100" id="w03_email"> </div>
</div>
<div class="row"> 
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> Số điện thoại </div>  
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> <input type="text" class="write w100" id="w03_phone"> </div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> Địa chỉ </div > 
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> <input type="text" class="write w100" id="w03_address"> </div>
</div>
<div class="row"> 
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> Thời gian tracking</div>  
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> <input type="text" class="write w100" id="w03_time_loop"> </div>
</div>
<div class="row">
<div class="col-xs-12"> <button id="w03_save">Cập nhật thông tin</button> </div>
</div>

</div>
<script type="text/javascript"> 
     $(function() {
        $("#w03_save").click(function(){
            
        }) 
     })
     xajax_w03_loadconfig(); 
</script>